html {
  scroll-behavior: smooth;
}
/**************************************************
 Import Google Fonts
***************************************************/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/**************************************************
 CSS reset 
***************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(185, 185, 185);
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  color: #f0f0f0;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  color: #be3144;
  font-size: 2rem;
  font-weight: 200;
  padding-top: 5px;
}

a {
  font-family: "Poppins", sans-serif;
  color: #f0f0f0;
  font-weight: 400;
  text-decoration: none;
}

/**************************************************
 Header
***************************************************/

header {
  background-color: #be3144;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 24px 0 0;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
  position: fixed;
  width: 100%;
}

.nav-links li {
  display: inline-block;
  padding: 20px;
}

.nav-links li:hover {
  background-color: #45567d;
}

.nav-links a {
  font-size: 1.3rem;
}

/**************************************************
 About Section
***************************************************/

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.about-section h1 {
  font-size: 4rem;
  font-weight: 700;
}

/**************************************************
 Project Section
***************************************************/
.project-section {
  background-color: #45567d;
  width: 100%;
}

.project-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0 1rem 0;
}

.project-head h1 {
  font-size: 42px;
  font-weight: 800;
}

.project-head hr {
  width: 43%;
  max-width: 43%;
  background-color: #f0f0f0;
  margin-top: 6px;
}

.projects-box {
  display: flex;
  justify-content: space-around;
  padding: 3rem 6rem 0 6rem;
}

.projects-box img {
  width: 400px;
  height: 380px;
  object-fit: cover;
}

.project-title {
  background-color: #303841;
  text-align: center;
  margin-top: -7px;
  padding: 20px 0;
  font-size: 20px;
  font-style: normal;
  color: #f0f0f0;
}

.fa-sharp {
  color: #303841;
}

.project-details:hover .fa-sharp {
  color: #ed7009;
  transition: 0.3s ease-out;
}

.project-btn {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 4rem 0;
  /* margin-top: 2rem; */
}

.btn-show-all {
  /* border: 2px solid rebeccapurple; */
  display: flex;
  align-items: center;
  background-color: #303841;
  color: #f0f0f0;
  font-size: 1.25rem;
  padding: 10px 20px;
}

.btn-show-all .fa-sharp {
  color: #f0f0f0;
  padding-left: 5px;
  font-size: 1.5rem;
}

.btn-show-all:hover {
  background-color: #be3144;
  color: #f0f0f0;
  transition: 0.3s ease-out;
}
.btn-show-all:hover .fa-sharp {
  margin-left: 5px;
  transform: translateX(0);
  transition: 0.3s ease-out;
}

/**************************************************
Contact Section
***************************************************/
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #303841;
  width: 100%;
  height: 80vh;
  border-bottom: 4px solid #be3144;
}

.contact-section h1 {
  font-size: 4rem;
  font-weight: 700;
}

.contact-section p {
  color: #f0f0f0;
  font-size: 1.2rem;
  padding-top: 10px;
}

.contact-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 340px;
  height: 100px;
  margin-top: 2rem;
}

.btn-contact-details {
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px #1f1f1f;
}

.btn-contact-details:hover {
  margin-top: 1rem;
  transform: translateX(0);
  transition: 0.3s ease-out;
}

/**************************************************
Footer
***************************************************/
/* border: 2px solid rgb(228, 59, 29); */
/* border: 2px solid peru; */

.footer {
  background-color: #303841;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 18vh;
}

.footer p {
  font-size: 18px;
  font-style: normal;
  color: #f0f0f0;
  font-weight: 300;
}
