/**************************************************
 CSS reset 
***************************************************/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

/**************************************************
 Header
***************************************************/
header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #fff;
  padding: 20px;
}

.header--logo {
  width: 44px;
  margin-right: 6px;
}

.header--title {
  font-size: 21px;
  font-weight: bold;
  margin-right: auto;
}

.header--project {
  font-size: 12px;
  font-weight: 500;
}

/**************************************************
 Meme
***************************************************/
.meme {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

.form {
  width: 40%;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
  margin-bottom: 17px;
}

.form--input {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--btn {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #fff;
  border: none;
  cursor: pointer;
}

.meme--area {
  width: 40%;
  position: relative;
  text-align: center;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
  text-align: center;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
